.imgContainer2 {
  width: 100%;
  height: 1500px;
  padding-top: 10%;
  margin: 0 auto;
  background-size: 1000px;
  background-blend-mode: darken;
  background: url('/Abeille_3.png');
  background-size: 150px;
}

nav {
  background: transparent;
}
.containerSmall {
  display: none;
}
.illustrationImg2 {
  width: 150%;
  margin: 0 auto;
}

.cardsContainer {
  width: 75%;
  margin-left: 10%;
  margin-top: 11%;
}

.hiveTitle {
  font-family: MontSerrat-Bold, sans-serif;
  font-size: 22px;
  color: white;
  line-height: 0.5px;
}

.imgCardHive {
  margin-right: 5%;
  width: 20%;
}

.nofees {
  border: 1px solid #ed475d;
  border-radius: 20px;
  padding: 2% 5%;
}

.nofees p {
  color: #ed475d;
  font-family: MontSerrat-Regular, sans-serif;
  font-size: 12px;
  text-align: center;
}

.x {
  background-color: #ed475d;
  border-radius: 20px;
  padding: 2% 8%
}

.x p{
  color: white;
  font-size: 12px;
}



.titleContainer {
  width: 100%;
  margin: 0 auto;
}

.hiveCard {
  padding-top: 12%;
  height: 500px;
  width: 380px;
}

.fees {
  width: 100%;
  justify-content: space-around;
}

.specialColor {
  color: #768498;
  font-family: MontSerrat-Regular,sans-serif;
  font-size: 15px;
}



.white {
  color: white;
  font-family: MontSerrat-Bold,sans-serif;
  font-size: 15px;
}

.pantherEarnedText {
  color: #ed475d;
  font-family: MontSerrat-SemiBold, sans-serif;
  font-size: 15px;
}

.harvest2 {
  background-color: #49586F;
  border-radius: 7px;
  display: inline-block;
  padding: 2% 10%;
  color: #8F98A5;
  margin-left: 50%;
}

.harvest2 p{
  font-size: 15px;
}

.LPStaked {
  color: #ed475d;
  text-align: center;
  font-size: 15px;
  font-family: MontSerrat-SemiBold, sans-serif;
}

.buttonHivesContainer {
  width: 90%;
  padding: 4% 5%;
}

.detailsContainer p {
  color: white;
  font-family: MontSerrat-SemiBold, sans-serif;
  text-align: center;
  font-size: 15px;
}

.hrHives {
  margin-bottom: 0.5rem;
}

.dialogContainer {
  padding: 5%;
  width: 100%;
  background-image: radial-gradient(circle, #58759f, #49648c, #3b547a, #2c4468, #1e3556);
}

.titleRoi {
  width: 100%;
}

.innerTitle {
  width: 95%;
}

.dialogContainer h1 {
  font-size: 32px;
}

.titleRoi p {
  color: #ed475d;
}

.chevron {
  margin-left: 35%;
  width: 30%;
  justify-content: space-around;
}
.innerTitle p {
  font-size: 18px;
  color: white;
}

.openContainer {
  color: white;
}

.MuiDialog-paperWidthSm {
  max-width: 600px;
  border-radius: 20px!important;
}

.paragraph {
  color: white
}

.containerMedium {
  display: none;
}
.MuiTypography-body1 {
  font-size: 2rem;
  font-family: MontSerrat-SemiBold, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  width: 100px;
  letter-spacing: 0.00938em;
}


@media screen and (max-width: 1600px){
  .containerBig {
    display: none;
  }
  .containerMedium {
    display: block;
  }
  .imgContainer2 {
    height: 1990px;
  }
}

@media screen and (max-width: 1500px){
  .cardsContainer {
    margin-left: 15%;
    max-width: 80%;
  }
}

@media screen and (max-width: 1176px){
  .hiveTitle {
    font-size: 20px;
  }
}



@media screen and (max-width: 1300px) {
  .hiveTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 1190px){
  .cardsContainer {
    margin-left: 13%;
    max-width: 80%;
  }
  .hiveTitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 1100px){
  .hiveTitle {
    font-size: 16px;
  }
  .imgCardHive {
    height: 75px;
    width: 75px;
  }
  .cardsContainer {
    margin-left: 25%;
  }
  .hiveCard {
    padding-top: 9%;
  }
}

@media screen and (max-width: 900px){

}
@media screen and (max-width: 860px){
  .hiveTitle {
    font-size: 15px;
  }
  .cardsContainer {
    margin-left: 24%!important;
    max-width: 100%;
  }

  .containerSmall {
    display: block;
  }
  .containerMedium {
    display: none;
  }
  .imgContainer2 {
    height: 3400px;
    width: 80%;
  }
}

@media screen and (max-width: 750px){
  .hiveOne, .hiveTwo {
    flex-direction: column!important;
  }
  .hiveCard {
    padding: 8%;
    height : 550px
  }
  .cardsContainer {
    margin-left: 13%!important;
  }
  .imgContainer2 {
    height: 3830px;
  }
}

@media screen and (max-width: 544px){
  .cardsContainer {
    margin-left: 0!important;
  }
}

@media screen and (max-width: 480px) {
  .hiveCard {
    height: 500px;
    width: 315px;
  }
  .imgContainer2 {
    width: 100%;
  }
}
@media screen and (max-width: 352px){
  .hiveTitle {
    font-size: 18px;
  }
}
