.indexContainer {
  display: flex;
  height: 2000px;
}

.imgContainer {
  width: 100%;
  height: 1600px;
  padding-top: 10%;
  background: no-repeat fixed center url("/illustration.png");
  background-size: contain;
}

.illustrationImg {
  width: 100%;
  margin: 0 auto;
}

.miniNav {
  display: none;
}

.main {
  background-image: linear-gradient(to right bottom, #d54d5f, #b94470, #373b66, #373b66, #373b66, #373b66, #28375c, #1b3250, #19304c, #172e47, #152b43, #13293f);  margin-left: 13%;
}

.titleContainer h1 {
  color: white;
  position: absolute;
  top: 7%;
  font-size: 45px;
  left: 20%;
}

.cardBicorn {
  border-radius: 20px;
  padding: 8%;
  box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.54);
  height: 380px;
  z-index: 1;
  position: relative;
  background: rgba(30, 53, 86, 0.7);
}

.bars {
  height: 50%;
  width: 2em!important;
  margin-top: 2%;
}
.cardBicorn h3 {
  color: #A1AAB7;
  font-size: 32px;
  opacity: 1;
  z-index: 2;
}

.connectMini {
  position: unset!important;
}

.comingSoonContainer {
  position: absolute;
  top: 30%;
  left: 30%;
}

.logoCarre {
  height: 40px;

}

.harvest {
  color: #768498;
  font-size: 15px;
}

.locked {
  color: #D54D5F;
  font-size: 15px;
}

.buttonContainer {
  width: 40%;
  margin: 5% auto;
  border-radius: 10px;
  text-align: center;
  padding: 3% 4%;
  box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.27);
  cursor: pointer;
  background-color: #D54D5F;
}

.container-sideBar-Mobile {
  background-color: #1E3556;
  height: 100%;
  padding-left: 1%;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

.buttonContainer:hover {
  background-color: #F4919E;
}

.unlocked {
  color: white;
  font-size: 15px;
}

.textColor {
  color: #A1AAB7;
  font-family: MontSerrat-Bold, sans-serif;
  font-size: 22px;
}
.miniCard {
  background: rgba(30, 53, 86, 0.7);
  border-radius: 20px;
  padding: 5%;
  height: 210px;
  box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.54);
}

.earn {
  color: #ED475D;
  font-family: MontSerrat-Bold, sans-serif;
  font-size: 32px;
}

.miniCardRose {
  background: rgba(237, 71, 93, 0.7);
  border-radius: 20px;
  padding: 5%;
  box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.54);
}

.comming {
  color: #ED475D;
  font-size: 32px;
  font-family: MontSerrat-Bold, sans-serif;
}

.image {
  display: flex;
  margin-top: 15%;
}

.imgFleche {
  margin-bottom: 45%;
}

.imgFleche2 {
  margin-top: 60px;
}

.imageWhite {
  display: flex;
}

.earnWhite {
  font-family: MontSerrat-Bold, sans-serif;
  color: white;
  font-size: 22px;
}

.tokenName {
  color: white;
  font-family: MontSerrat-Bold, sans-serif;
  font-size: 32px;
}

.flex {
  display: flex;
}

.cardStats {
  border-radius: 20px;
  padding: 5%;
  box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.54);
  height: 400px;
  background: rgba(30, 53, 86, 0.7);
}

.bicorn {
  font-family: MontSerrat-SemiBold, sans-serif;
  font-size: 15px;
  color: #768498;
  margin-bottom: 3% !important;
}

.textColor2 {
  color: #A1AAB7;
  font-family: MontSerrat-Bold, sans-serif;
  font-size: 28px;
}

.price {
  color: white;
  font-family: MontSerrat-Bold, sans-serif;
  font-size: 15px;
}

.total {
  font-family: MontSerrat-Bold, sans-serif;
  font-size: 20px;
  color: white;
}

.comingSoon {
  font-family: MontSerrat-Bold, sans-serif;
  color: #D54D5F;
  font-size: 32px;
  margin-bottom: 12% !important;
}

.tokenAdress {
  text-align: center;
  font-family: MontSerrat-SemiBold, sans-serif;
  color: #768498;
  margin-top: 14%;
  font-size: 15px;
}

.adress {
  text-align: center;
  font-size: 16px;
  font-family: MontSerrat-Bold, sans-serif;
  color: white;
  margin-bottom: 13%;
}

.addmetamask{
  color: white;
  font-family: MontSerrat-Bold, sans-serif;
  font-size: 15px;
}

.connect {
  position: absolute;
  top: 2%;
  right: 3%;
}

.buttonConnect {
  cursor: pointer;
  display: inline-block;
  padding: 10% 20%;
  margin: 5% auto;
  width: 150px;
  border-radius: 10px;
  text-align: center;
  background-color: #D54D5F;
  box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.27);
}

.MuiDialog-paper {
  margin: 0!important;
  width: 100%;
}

.MuiDialog-paperScrollPaper {
  height:100% !important;
  border-radius: 0!important;
}
.MuiDialog-container {
  width: 40%;
  margin-top: 75px !important;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.indexContainerUnFlex {
  display: block;
}


@media screen and (max-width: 1300px){
  .connect {
    right: 0%
  }
}
@media screen and (max-width: 1155px){
  .rowLast {
    display: flex;
    flex-direction: column!important;
  }
  .imgContainer {
    height: 2000px;
  }
  .cardStats {
    height: 450px;
  }
}
@media screen and (max-width: 580px) {
  .indexContainer {
    height: 3500px;
  }

}



@media screen and (max-width: 350px) {
  .connect {
    margin-left: 90%;
  }
}

