.comingSoonText {
  font-size: 100px;
  text-align: center;
}

.comingSoonContainer {
  width: 50%;
  margin: 0 auto;
}

.imgContainerNap {
  width: 100%;
  height: 1300px;
  margin: 0 auto;
  padding-top: 10%;
  background: url("/fondPiece2.png");
  background-size: contain;
}

@media screen and (max-width: 850px){
  .comingSoonText {
    font-size: 50px;
  }
}

@media screen and (max-width: 450px){
  .comingSoonText {
    font-size: 30px;
  }
}
