.container-sideBar {
  background-color: #1E3556;
  height: 100%;
  width: 15%;
  position: fixed;
  padding-left: 1%;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
}

.container-sideBar::-webkit-scrollbar {
  width: 0.5em;
}

.container-sideBar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container-sideBar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.container-sideBarActive {
  background-color: #1E3556;
  height: 100%;
  max-width: 15%;
}

.iconBars{
  margin-left: 10%;
  color: white;
}

.linkContainer {
  display: flex;
  margin-top: 5%;
  height: 35px;
  margin-bottom: 10%;
  cursor: pointer;
  align-items: center;
}

.imgSideBar {
  height: 75px;
}

.linkContainerActive {
  display: flex;
  height: 15px;
  margin-top: 70%;
  margin-bottom: 70%;
  cursor: pointer;
}

.imgActive {
  margin: 0 auto;
  height: 60px;
}

#pageContainer {
  position: relative;
  min-height: calc(100vh - 3rem);
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.footerLinks {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
.linkContainerPink {
  width: 90%;
  display: flex;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 3px 10px 5px rgba(0,0,0,0.27);
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 10%;
  height: 40px;
  align-items: center;
  background-color: #D54D5F;
}

.linkContainer p {
  font-size: 15px;
  color: #768498
}

.linkContainer img {
  margin-right: 15%;
}

.linkContainerPink img {
  margin-right: 15%;
}

.linkContainerPink p {
  color: white;
}




.bicornSideBarLogo {
  width: 70%;
  margin-bottom: 20%;
  margin-top: 13%;
  margin-left: 11%;
}

.moreIcon {
  height: 20% !important;
  margin-top: 3%;
}

.logoImage {
  height: 40%;
  margin-right: 2%;
}



.logoImageActive {
  height: 25px;
  width: 25px;
  margin: 0 auto;
}


.priceMini {
color: #ED475D;
font-size: 15px;
}

.priceMiniActive {
  color: #ED475D;
  font-size: 13px;
  text-align: center;
}

.lang {
color: #73859B;
font-size: 15px;
}

.langActive {
  color: #73859B;
  font-size: 15px;
  text-align: center;
}

.img-links {
height: 30px;
}

.img-linksActive {
height: 25px;
width: 25px;
margin: 0 auto;
}
.links {
margin-top: 30%;
  margin-left: 20%;
}

.black {
height: 100px;
}

.active {
display: none;
}

.none {
  display: none;
}


@media screen and (max-width: 1500px){
  .container-sideBar {
    width: 20%;
  }
}

@media screen and (max-width: 1170px){
  .container-sideBar {
    width: 20%;
  }
  .cardBicorn h3 {
    font-size: 25px;
  }
  .container-sideBar {
    width: 25%;
  }
  .buttonContainer {
    width: 60%;
  }
}

@media screen and (max-width: 860px){
  .display {
    display: none;
  }
  .miniNav {
    display: flex;
  }
  .miniNav nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2% 5%;
  }
  .main {
    margin-left: 0;
  }
  .small {
    padding-left: 3%;
  }
  .none {
    display: block;
  }
  .container-sideBar {
    width: 40%;
    z-index: 4;
  }
  .midRow, .firstRow{
    display: flex;
    flex-direction: column!important;
  }
  .cardsContainer {
    width: 90% !important;
    margin-left: 5% !important;
  }
  .imgContainer {
    height: 3000px;
  }
}

